{% comment %}
V1.8 - November 16 2017 - 
This liquid snippet is used by Discount URL, an app from Limoni Apps
This snippet should be included in the cart page to display the cart level savings
Example: 'You save 20% percent'
Do not remove this snippet
{% endcomment %}

<span class="limoniapps-discounturl-cart-savingslabel">
  {{discounturl_cart_savingslabel}}
</span>