<!-- /templates/customers/register.liquid -->
<div class="wrapper">

  <div class="grid page-margin">

    <div class="grid__item large--one-third push--large--one-third text-center">

      <h3>{{ shop.metafields.locales.edit_account }}</h3>

      {% include 'customer-fields' %}
  
    </div>

  </div>

</div>
