<!-- /templates/page.vip.liquid -->
{% include 'vip_code_setter' %}

<div class="wrapper page-margin">

  <div class="grid">

    <div class="grid__item large--two-thirds push--large--one-sixth">

      <h1 class="text-center h2">{{ page.title }}</h1>

      {% comment %}
        Regular page content goes here.
      {% endcomment %}
      <div class="rte">
        {{ page.content }}
      </div>

      {% comment %}
        Contact form starts here
      {% endcomment %}
      <div>
        <form method="post" id="vip_form" class="contact-form">

          <label for="VipCode" class="label--hidden">Enter a VIP Code</label>
          <input type="text" id="VipCode" name="vip_code" placeholder="Enter a VIP Code" value="" />

          <input type="submit" class="btn right uppercase" value="VERIFY">

        </form>
      </div>
      
      <span class="vip-login-tip">
        NOTE - <span style="color:black">If you've landed at this page after clicking on a Rudy Project 
        promotion or advertisement, please enter the code you were provided to continue shopping.</span>
      </span>

    </div>

  </div>

</div>
